$first-color: #70a873;
$second-color: #C29772;
$third-color: #755F4B;
$font-color: rgb(255, 255, 255);
$principal-font: 'Dancing Script',sans-serif; 
$secondary-font: 'Ubuntu', sans-serif !important;
$medida: 20px;